:root {
  --random-color: rgba(233, 38, 38, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  line-height: 1.5rem;
  font-size: 1.25em;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*** NAV */

#nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-height: min-content;
}

#name-header {
  flex-grow: 1;
  white-space: nowrap;
  font-family: "EB Garamond", STFangsong, serif, sans-serif;
  font-size: 2.75em;
  padding-right: 20px;
}

#nav-spacer {
  flex-grow: 4;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.nav-group {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
}

.nav-button {
  border: 2px ridge grey;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: small;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  min-height: 45px;
  background-color: white;
  white-space: nowrap;
  transition: border 125ms, transform 125ms, text-shadow 125ms;
}

.highlight {
  text-shadow: 1px 1px 2px rgb(177, 177, 177);
  transform: translateX(-3px) translateY(-2px);
  border: 0.5px ridge black;
  border-bottom: 3px ridge rgb(53, 53, 53);
  border-right: 3px ridge rgb(95, 95, 95);
  box-shadow: 0px -1px 2px rgb(225, 225, 225), -1px 0px 1px rgb(162, 162, 162),
    -1px -1px 1px rgb(185, 185, 185);
}

.held-button {
  background: linear-gradient(
    36deg,
    rgba(0, 255, 204, 0.3) 29%,
    rgba(39, 255, 0, 0.2) 62%,
    rgba(255, 251, 0, 0.2) 95%
  );
  text-shadow: 1px 1px 2px rgb(177, 177, 177);
  transform: translateX(3px) translateY(2px);
  border: 1px solid black;
  border-top: 4px solid rgb(53, 53, 53);
  border-left: 4px solid rgb(95, 95, 95);
}

/*** Title  */

#title {
  height: max(calc(100vh - 100px), 420px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-image {
  position: relative;
  top: -25px;
  width: min(66%, 450px);
  border-radius: min(66%, 450px);
  box-shadow: -20px -20px 20px 0px rgba(0, 255, 204, 0.3),
    20px 20px 20px 0px rgba(29, 250, 0, 0.3);
}

/*** About Me  */

#about-me {
  min-height: 450px;
  position: relative;
  background: linear-gradient(
    162deg,
    rgb(60, 60, 75) -10%,
    rgb(25, 25, 25) 25%,
    rgb(70, 70, 85) 100%
  );
  border-radius: 20px;
  color: rgb(244, 240, 240);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

#about-me h2 {
  font-size: 2em;
  line-height: 2em;
  margin: 0;
  background: linear-gradient(
    36deg,
    rgba(255, 251, 0, 1) -100%,
    rgba(0, 255, 204, 0.8) 60%,
    rgba(255, 251, 0, 1) 85%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
  text-align: center;
}

#about-me p {
  text-indent: 1.5em;
  padding: 10px 3em;
}

/*** Projects */

#projects {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0 50px 0;
  width: 100%;
  box-shadow: inset 3px 3px 12px 1px rgba(255, 251, 0, 0.4),
    inset -1px 0 10px 0px rgba(39, 255, 0, 0.1),
    inset 0 -2px 10px 3px rgba(0, 255, 204, 0.3),
    0 -15px 15px 10px rgba(255, 251, 0, 0.4),
    0 -10px 10px 2px rgba(39, 255, 0, 0.4),
    0px 10px 10px 3px rgba(0, 255, 204, 0.2),
    0px 10px 10px 3px rgba(39, 255, 0, 0.1);
}

#projects h2 {
  font-size: 2em;
  line-height: 2em;
  margin: 0;
  padding-bottom: 1.5em;
  justify-self: flex-start;
  color: black;
}

.project-container {
  max-width: 97%;
  height: min(30vw, 360px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
}

.project-background {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 18px;
  display: flex;
  width: min(25%, 230px);
  height: min(25vw, 230px);
  transition: ease-in opacity 0.4s, height 0.4s, width 0.4s, transform 1s,
    border 0.5s;
  opacity: 0.3;
  z-index: 1;
}

.project-background:hover {
  width: min(31%, 360px);
  height: min(31vw, 360px);
  opacity: 1;
  position: relative;
  border: 3px solid var(--random-color);
  z-index: 1;
}

.project-background:hover::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 18px;
  opacity: 0.5;
  background-color: var(--random-color);
  z-index: -1;
  animation: 0.4s linear forwards rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    z-index: -1;
  }

  to {
    transform: rotate(-6deg);
    z-index: -1;
  }
}

.project {
  padding: 10px 0;
  font-size: medium;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgb(255, 255, 255) 70%,
    rgba(229, 229, 229, 0.8) 95%
  );
  opacity: 0.5;
  border-radius: 15px;
  overflow: hidden;
}

.project:hover {
  opacity: 1;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.project p {
  padding: 0 2em;
}

.project img {
  padding: 0 1em;
}

.project ul {
  padding: 1em 1.5em;
}

.project ul li {
  padding: 0.5em 0;
}

.project-image {
  max-width: 100%;
}

.project h3 {
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 20px;
}

.repository-link {
  text-decoration: none;
  border: 1px solid black;
  width: 50%;
  align-self: center;
  background-color: black;
  color: white;
  font-weight: 700;
  box-shadow: 2px 2px 3px grey;
  max-width: 100%;
}

.large-project-display {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: 0.25s linear fadein;
  z-index: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.large-project-display > .project-background,
.large-project-display > .project-background:hover {
  opacity: 1;
  width: min(50%, 750px);
  height: fit-content;
  border: 3px solid var(--random-color);
}

.large-project-display > .project-background:hover::before {
  animation: none;
}

.large-project-display > .project-background > .project,
.large-project-display > .project-background > .project:hover {
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.close-project-spacer {
  width: calc(min(50%, 750px) + 4em);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.close-project-spacer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  font-size: 1.75em;
  font-weight: 500;
  width: 1.2em;
  height: 1.2em;
  border: none;
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 3px 24px 2px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 2px 3px 24px 2px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 2px 3px 24px 2px rgba(0, 0, 0, 0.63);
  transition: transform 0.3s, width 0.3s, height 0.3s, border 0.3s;
}

.close-project-spacer > button:hover {
  border: 3px solid rgb(255, 255, 255);
  transform: translateY(-2px) translateX(-2px);
  width: 1.3em;
  height: 1.3em;
}

/*** Contact */

#contact {
  overflow-y: hidden;
  height: min-content;
  background: linear-gradient(
    162deg,
    rgb(60, 60, 75) -10%,
    rgb(25, 25, 25) 25%,
    rgb(70, 70, 85) 100%
  );
  color: rgb(244, 240, 240);
  padding: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

#contact h2 {
  font-size: 2em;
  line-height: 2em;
  margin: 0;
  background: linear-gradient(
    136deg,
    rgba(255, 251, 0, 0.8) 15%,
    rgba(0, 255, 204, 0.8) 87%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact-links {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.contact-group {
  overflow-y: hidden;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-around;
  padding: 20px 0;
}

.contact-link {
  transition: transform 0.25s;
  cursor: pointer;
}

.contact-link:hover {
  transform: translate(-3px, -3px);
}

.contact-link button {
  background: none;
  border: none;
  width: 200px;
  overflow: visible;
  cursor: pointer;
}

#email {
  font-size: medium;
}
/*** footer */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(153, 153, 153);
}

/*** media queries */

@media (max-width: 500px) {
  #name-header {
    font-size: 2em;
  }

  .project-container {
    gap: 1em;
  }

  .project-background {
    height: max(64%, 150px);
  }
}

@media (max-width: 350px) {
  #title {
    max-height: 100vw;
  }

  #about-me p {
    padding: 10px 1em;
  }

  #contact {
    padding: 50px 0;
  }

  .nav-links {
    flex-flow: row wrap;
  }

  .project p {
    padding: 0 0.2em;
  }
}
