* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  line-height: 1.5rem;
  font-size: larger;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*** NAV */

#nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-height: min-content;
}

#name-header {
  flex-grow: 1;
  white-space: nowrap;
  font-family: STFangsong, rockwell;
  font-size: 270%;
  padding-right: 20px;
}

#nav-spacer {
  flex-grow: 4;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.nav-button {
  border: 2px ridge grey;
  padding: 10px 10px;
  font-size: small;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  min-height: 45px;
  background-color: white;
  white-space: nowrap;
  cursor: pointer;
  transition: border 125ms, transform 125ms, text-shadow 125ms;
}

.highlight {
  border-radius: 3px;
  text-shadow: 1px 1px 2px rgb(177, 177, 177);
  transform: translateX(-3px) translateY(-2px);
  border: 0.5px ridge black;
  border-bottom: 3px ridge rgb(53, 53, 53);
  border-right: 3px ridge rgb(95, 95, 95);
  box-shadow: 0px -1px 2px rgb(225, 225, 225), -1px 0px 1px rgb(162, 162, 162),
    -1px -1px 1px rgb(185, 185, 185);
}

.select-button {
  border-radius: 3px;
  background: linear-gradient(
    36deg,
    rgba(0, 255, 204, 0.3) 29%,
    rgba(39, 255, 0, 0.2) 62%,
    rgba(255, 251, 0, 0.2) 95%
  );
  text-shadow: 1px 1px 2px rgb(177, 177, 177);
  transform: translateX(3px) translateY(2px);
  border: 1px solid black;
  border-top: 4px solid rgb(53, 53, 53);
  border-left: 4px solid rgb(95, 95, 95);
}

/*** Title  */

#title {
  height: max(calc(100vh - 100px), 420px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-image {
  position: relative;
  top: -25px;
  width: min(66%, 475px);
}

/*** About Me  */

#about-me {
  min-height: 450px;
  background: linear-gradient(
    162deg,
    rgb(60, 60, 75) -10%,
    rgb(25, 25, 25) 25%,
    rgb(70, 70, 85) 100%
  );
  color: rgb(244, 240, 240);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 3em;
  text-indent: 1.5em;
}

#about-me h2 {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(140, 140, 140);
}

/*** Projects */

#projects {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0 50px 0;
  max-width: 100%;
}

#projects h2 {
  margin: 0;
  justify-self: flex-start;
  color: black;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(153, 153, 153);
}

.carousel {
  perspective: 500px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.carousel figure {
  min-height: fit-content;
  margin: 15% 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  flex: 0 1 auto;
  z-index: 1;
}

.project-spacer {
  max-height: 100%;
  min-width: 100%;
  padding: 0 0px / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-spacer:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.project {
  padding: 15px 1em;
  border: 2px solid rgb(0, 0, 0);
  font-size: medium;
  width: min(90%, 600px);
  background: radial-gradient(
    circle at center,
    rgb(255, 255, 255) 70%,
    rgba(229, 229, 229, 0.8) 95%
  );
  border-radius: 15px;
}

.project ul {
  padding: 1em;
}

.project-image {
  max-width: 100%;
}

.select {
  flex: 0 0 auto;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 10px;
  z-index: 2;
  background-color: white;
}

.project h3 {
  font-size: larger;
  margin: 0;
  padding-bottom: 20px;
}

.link-button {
  text-decoration: none;
  border: 1px solid black;
  width: 50%;
  align-self: center;
  background-color: black;
  color: white;
  font-weight: 700;
  box-shadow: 2px 2px 3px grey;
}

/*** Contact */

#contact {
  overflow-y: hidden;
  height: min-content;
  background: linear-gradient(
    162deg,
    rgb(60, 60, 75) -10%,
    rgb(25, 25, 25) 25%,
    rgb(70, 70, 85) 100%
  );
  color: rgb(244, 240, 240);
  padding: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#contact h2 {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(140, 140, 140);
}

#contact-buttons {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.button-group {
  overflow-y: hidden;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-around;
  padding: 20px 0;
}

.button button {
  background: none;
  border: none;
  width: 200px;
  overflow: visible;
}

.button button:hover {
  cursor: pointer;
}

#email {
  font-size: medium;
}
/*** footer */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(153, 153, 153);
}
